body{
    font-family: 'Patrick Hand', cursive;
}
h1{
    font-size: 100px;
    margin: 0%;
}
h2{
    font-size: 80px;
    margin: 0%;
}
h4{
    font-size: 40px;
    margin: 0%;
}
p{
    font-size: 25px;
    color: lightslategray;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 4%
}
.half-width img{
    width: 100%;
}
.half-width a{
    color: white;
    background: brown;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    transition: 0.5s;
}
.text{
    margin-top: 200px;
}
.half-width a:hover{
    color: white;
    background: #000;
}